* {
    /* font-family: 'Playfair Display', serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;


}

body {
    padding: 2rem;
}

h1 {
    font-size: 24px;

}

h2 {
    font-size: 20px;

}

img {
    height: 400px;
    width: auto;


}

p,
li {
    max-width: 50vw;
}

a:visited {
    color: lightseagreen;
}